
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  .header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
  }
  
  .nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  
  .nav li {
    margin: 0 15px;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  

  .image-section {
    margin: 0;
    padding: 0;
  }
  
  .responsive-image {
    display:block;
    width: 1924.75px    ;
    height: auto;
    max-height:auto; 
    object-fit: fill; 
  }
  
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  